.menu-container {
    background-color: #f8f9fa; /* Color de fondo del menú */
    border-right: 1px solid #dee2e6; /* Borde derecho */
    padding-top: 20px; /* Espaciado superior */
  }
  
  .nav-link {
    padding: 10px; /* Espaciado de los elementos del menú */
  }
  
  /* Estilos para los contenedores adicionales */
  .col-11 {
    border: 1px solid #dee2e6; /* Borde para visualización */
    margin-top: 20px; /* Espaciado superior */
    padding: 20px; /* Espaciado interno */
  }
  
  .col-3{
    background-color: #EDF2F7; /* Color de fondo del menú */
    border-right: 1px solid #dee2e6; /* Borde derecho */
    padding-top: 20px; /* Espaciado superior */
  }
  
  .container-fluid{
    display: flex;
  
  }
  
  /* Estilos para el interruptor personalizado */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #52223b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #52223b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Estilos para el círculo interior del interruptor */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* Estilos para los íconos de edición y eliminación */
  .edit-icon,
  .delete-icon {
    text-decoration: none; /* Quita el subrayado del enlace */
    margin-right: 10px; /* Espacio entre los íconos */
  }
  
  .edit-icon:hover,
  .delete-icon:hover {
    color: red; /* Cambia el color al pasar el cursor sobre los íconos */
  }
  
  