
<body>

    <div class="container-padre" >
  
            <div class="col2">
                <div class = "contenido">  
                    <div class="simple_container">
                        
                        <!-- Contenedor del otro contenido -->
                        <div class="container cont1">
                            <div style="display: flex; align-items: center; height: 48px;">
                                <i class="fa-solid fa-magnifying-glass" style="margin-right: 10px;"></i>
                                <span style="color: rgb(195, 195, 197);">Ingresa tu búsqueda aquí...</span>
                            </div>
                        </div>

                        <div class="container cont2">
                            <div style="display: flex; align-items: center; height: 110px;">
                                <div style="margin-left: auto; margin-right: 20px;">
                                    <i class="fa-solid fa-bell" style="color: #963e6c; font-size: 2em;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contTitulo" >
                        <div class="container-fluid m-3" style="width: 70%; height: 80%; border: 1px solid #ccc;background-color: #f3f0f2; border-radius: 18px;display: flex; align-items: center; ">
                            <h1 style="color: #963e6c; font-size: 4em; margin: 0 0 0 20px;">Crear empresa</h1>
                        </div>
                    </div>

                    <div class="contInfo" >
                            
                        <div class="container-fluid " style="width: 70%; height: 50%; border: 1px solid #ccc;background-color: #f3f0f2; border-radius: 15px;display: flex; align-items: center;">

                            <div class="row">
                                <div class="col-md-6 info1">
                                    <div class="mb-3">
                                        <p><b class="subtitulo">Nombre empresa: </b> <input type="text" [(ngModel)]="nombre"></p>
                                    </div>
                                    <div class="mb-3">
                                        <p><b class="subtitulo">NIT: </b> <input type="number" [(ngModel)]="nit"></p>
                                    </div>
                                    <div class="mb-3">
                                        <p><b class="subtitulo">Correo: </b> <input type="email" [(ngModel)]="correo"></p>
                                    </div>
                                    <div class="mb-3">
                                        <p><b class="subtitulo">Telefono: </b> <input type="number" [(ngModel)]="phone"></p>
                                    </div>

                                </div>
                                <div class="col-md-6 info2">
                                    <div class="mb-3">
                                        <p><b class="subtitulo">Trabajadores: </b> <input type="number" [(ngModel)]="maxNumWorker"></p>
                                    </div>
                                    <div class="mb-3">
                                        <p><b class="subtitulo">Dirección: </b> <input type="text" [(ngModel)]="direccion"></p>
                                    </div>
                                    <div class="mb-3">
                                        <p><b class="subtitulo">Fecha terminación plan: </b> <input type="date" [(ngModel)]="fechaFinal"></p>
                                    </div>
                                </div>
                            </div>
                                
                           
                    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  botones">
                                    <button class="btn btn-plan" type="button" (click)="crearEmpresa()">Crear Empresa</button>
                                    <button class="btn btn-plan" type="button" (click)="volver()" >Volver</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
      
            </div>
    </div>
</body>
