<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creacion de usuarios</title>


</head>
<body>

    <div class="container-fluid" >
        <div class="row">
          <!-- Contenedor del menú -->
          <div class="col-2 menu-container " style="height: 764px; width: 237.007px;">
            <!-- Contenido del menú aquí -->
            <ul class="nav flex-column">
                <li class="nav-item mt-5 ml-5">
                    <a class="nav-link" href="#"> <span style ="color:#292c32; margin-left: 20px;">Perfil</span></a>
                </li>
                <li class="nav-item mt-5 ml-5">
                    <a class="nav-link" href="#"><i class="fa-brands fa-flipboard " style="color: #292c32; margin-right: 1.0em; margin-left: 20px; "></i><span style ="color:#292c32;">Tablero</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-regular fa-calendar " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Calendario</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-regular fa-calendar " style="color: #bb0a65; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#bb0a65">Usuarios</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-person-chalkboard " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Permisos</span></a>
                </li>
                <li class="nav-item mb-5 ml-5">
                    <a class="nav-link" [routerLink]="['/canela/planes']"><i class="fa-regular fa-paper-plane " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style ="color:#292c32">Planes</span></a>
                </li>
                <li class="nav-item mb-5 ml-5">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item mt-5 ml-5">
                    <a class="nav-link" href="#"><i class="fa-regular fa-user " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Perfil</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-gear " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Ajustes</span></a>
                </li>
            </ul>
          </div>

            <div class="col-10">
                <div class="col-3" style="width: 1191.005px;height: 100px;border: 1px solid #ccc;  align-items: center;">
                    <div class="container-fluid " style="width: 690px; height: 48px; border: 1px solid #ccc;border-radius: 10px; margin-left: 20px;display: flex; align-items: center; ">
                        <i class="fa-solid fa-magnifying-glass" style="margin-right: 10px;"></i>
                        <span style="color: rgb(195, 195, 197);">Ingresa tu búsqueda aquí...</span>
                    </div>
                    <div style="margin-left: 1100px; margin-right: 20px;">
                        <i class="fa-solid fa-bell" style="color: #963e6c; font-size: 2em; "></i>
                    </div>
                </div>

                <div class="col-9" >
                    <div class="container-fluid " style=" width:1191.005px;height: 664px; border: 1px solid #ccc; background-color: #52223b; display: flex; justify-content: center; align-items: center;">
                        <div class="container-fluid m-3" style="width: 1000px; height: 250px; border: 1px solid #ccc;background-color: #f3f0f2; border-radius: 18px;display: flex; align-items: center; ">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Primer nombre:</label><br>
                                <input type="email" class="form-control" id="exampleFormControlInput1"><br>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Primer apellido</label><br>
                                <input type ="email" class="form-control" id="exampleFormControlInput2"><br>
                            </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Correo</label><br>
                                    <input type="email" class="form-control" id="exampleFormControlInput" placeholder="name@example.com" ><br>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>