<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil y Menú Vertical</title>


</head>
<body>

    <div class="container-fluid" >
        <div class="row">
          <!-- Contenedor del menú -->
          <div class="col-1 menu-container " style="height: 764px; width: 237.007px;">
            <!-- Contenido del menú aquí -->
            <ul class="nav flex-column">
                <li class="nav-item mt-5 ml-5">
                    <a class="nav-link" href="#"> <span style ="color:#292c32; margin-left: 20px;">Perfil</span></a>
                </li>
                <li class="nav-item mt-5 ml-5">
                    <a class="nav-link" href="#"><i class="fa-brands fa-flipboard " style="color: #292c32; margin-right: 1.0em; margin-left: 20px; "></i><span style ="color:#292c32;">Tablero</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-regular fa-calendar " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Calendario</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" [routerLink]="['/canela/usuarios']"><i class="fa-regular fa-calendar " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Usuarios</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-person-chalkboard " style="color: #bb0a65; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#bb0a65">Permisos</span></a>
                </li>
                <li class="nav-item mb-5 ml-5">
                    <a class="nav-link" [routerLink]="['/canela/planes']"><i class="fa-regular fa-paper-plane " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style ="color:#292c32">Planes</span></a>
                </li>
                <li class="nav-item mb-5 ml-5">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item mt-5 ml-5">
                    <a class="nav-link" href="#"><i class="fa-regular fa-user " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Perfil</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#"><i class="fa-solid fa-gear " style="color: #292c32; margin-right: 1.0em; margin-left: 20px;"></i><span style="color:#292c32">Ajustes</span></a>
                </li>
            </ul>
          </div>

            <div class="col-10">
                <div class="col-3" style="width: 1191.005px;height: 100px;border: 1px solid #ccc;  align-items: center;">
                    <div class="container-fluid " style="width: 690px; height: 48px; border: 1px solid #ccc;border-radius: 10px; margin-left: 20px;display: flex; align-items: center; ">
                        <i class="fa-solid fa-magnifying-glass" style="margin-right: 10px;"></i>
                        <span style="color: rgb(195, 195, 197);">Ingresa tu búsqueda aquí...</span>
                    </div>
                    <div style="margin-left: 1100px; margin-right: 20px;">
                        <i class="fa-solid fa-bell" style="color: #963e6c; font-size: 2em; "></i>
                    </div>
                </div>

                <div class="col-9" style="height: 910px;">
                    <div class="container-fluid " style="width: 1191.005px; height: 210px; border: 1px solid #ccc; background-color: #52223b; display: flex; justify-content: center; align-items: center;">
                        <div class="container-fluid m-3" style="width: 1000px; height: 145px; border: 1px solid #ccc;background-color: #f3f0f2; border-radius: 18px;display: flex; align-items: center; ">
                            <h1 style="color: #963e6c; font-size: 4em; margin: 0 0 0 20px;">Permisos y roles</h1>
                        </div>
                    </div>
      
                    <div class="container-fluid " style="width: 1191.005px; height: 444px; border: 1px solid #ccc; background-color: #EDF2F7;">
                        <div class="container-fluid m-3">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th scope="col">Empleados</th>
                                        <th scope="col">Información de los chats</th>
                                        <th scope="col">Información de servidores</th>
                                        <th scope="col">Información de las empresas</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let user of usuarios">
                                        <td>{{user.FirstName}} {{user.LastName}}</td>
                                        <td>
                                            <!-- Interruptor personalizado -->
                                            <label class="switch" (click)="enableMarketing(user.id)">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <!-- Interruptor personalizado -->
                                            <label class="switch" (click)="enableFinanzas(user.id)">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>""
                                        <td>
                                            <!-- Interruptor personalizado -->
                                            <label class="switch" (click)="enableServer(user.id)">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>

                                        <td>
                                            <!-- Enlace para editar -->
                                            <a href="#" class="edit-icon"><i class="fa-regular fa-pen-to-square"style="color: #292c32;"></i></a>
                                            
                                            <!-- Enlace para eliminar -->
                                            <a href="#" class="delete-icon"><i class="fa-solid fa-trash" style="color: #292c32;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
