<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil y Menú Vertical</title>


</head>
<body>
   
        <div class="container-padre " >
                <div class=" col2"  >
                    <div class="contenido" >
                        <div class="simple_container">
                            <div class="container cont1" >
                                <div style="display: flex; align-items: center; height: 48px;">
                                    <i class="fa-solid fa-magnifying-glass" style="margin-right: 10px;"></i>
                                    <span style="color: rgb(195, 195, 197);">Ingresa tu búsqueda aquí...</span>
                                </div>
                            </div>

                            <div class="container cont2" >
                                <div style="display: flex; align-items: center; height: 110px;">
                                    <div style="margin-left: auto; margin-right: 20px;">
                                        <i class="fa-solid fa-bell" style="color: #963e6c; font-size: 2em;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contTitulo" >
                            <div class="container-fluid m-3" style="width: 1000px; height: 145px; border: 1px solid #ccc;background-color: #f3f0f2; border-radius: 18px;display: flex; align-items: center; ">
                                <h1 style="color: #963e6c; font-size: 4em; margin: 0 0 0 20px;">Permisos y roles</h1>
                            </div>
                        </div>
        
                        <div class="contInfo">
                            <div class="container-fluid ">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Empleados</th>
                                            <th scope="col">Marketing</th>
                                            <th scope="col">Gerente finanzas</th>
                                            <th scope="col">Soporte tecnico</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor = "let user of usuarios">
                                            <td>{{user.firstname}} {{user.surname}}</td>
                                            <td>
                                                <!-- Interruptor personalizado -->
                                                <label class="switch" (click)="enableMarketing(user.id)">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <!-- Interruptor personalizado -->
                                                <label class="switch" (click)="enableFinanzas(user.id)">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>""
                                            <td>
                                                <!-- Interruptor personalizado -->
                                                <label class="switch" (click)="enableServer(user.id)">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="contPermisos-hijo" >
                        
                    </div>
                </div>

        </div>

</body>
</html>
